# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.orig.*

# Native
ios/
android/

# Env / secrets
.env
.env.local
.vercel

# Supabase local volumes
supabase/.branches
supabase/.temp

# OS / editor
.DS_Store
*.log
